/* TODO: Cleanup all the unused fonts */
/* Regular (400)*/
@font-face {
  font-family: "Roboto";
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
/* Medium */
@font-face {
  font-family: "Roboto";
  src: url('../assets/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: "Roboto";
  src: url('../assets/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Menlo";
  src: url('../assets/fonts/Menlo/Menlo-Regular.woff');
  font-weight: normal;
  font-style: normal;
}