.header_container .header,
.header_container .header_drawer,
.header_container .opacity_toggle {
    background-color: #ffffff;
}

.header_container {
    background-color: transparent;
    font-family: "Inter", sans-serif !important;
    width: 100%;
    padding-block-start: 100px;
}
.header_container .sticky_container {
    position: fixed;
    z-index: 16;
    top: 0;
    width: 100%;
    padding-block-start: 16px;
    transition: 0.5s top ease-in-out;
}
.header_container .sticky_container .header,
.header_container .sticky_container .header_drawer,
.header_container .sticky_container .hamburger_menu_open {
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.24));
}
.header_container .sticky_container.hidden {
    top: -170px;
}
.header_container .header {
    margin: 0px 60px;
    padding-block: 20px 18px;
    padding-inline: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 26px;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_container .header .header_logo {
    max-width: 200px;
    max-height: 30px;
}
.header_container .header .header_actions {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-wrap: wrap;
    margin-inline-end: 26px;
}
.header_container .header .header_actions a {
    color: inherit;
    text-decoration: none;
}
.header_container .header .header_actions .header_cta {
    font-size: 16px;
    line-height: 19px;
    padding: 11px 16px 13px;
    color: white;
    font-variation-settings: "wght" 500;
}
.header_container .header .header_actions .header_cta:hover {
    color: #a5a5a5;
}
.header_container .header .header_actions .header_cta_white {
    color: #555555;
}
.header_container .header .header_actions .header_cta_white:hover {
    color: #000000;
}
.header_container .header .header_actions .header_cta.underline_highlighted {
    text-decoration: underline #ff9933 3px;
    text-underline-offset: 8px;
}
.header_container .header .header_cta_end {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header_container .header .header_cta_end > span.header_cta {
    margin-inline: 0 !important;
}
.header_container .header .header_cta_end > .home_page_button {
    margin-right: 0;
}
.header_container .header,
.header_container .header_drawer,
.header_container .hamburger_menu {
    background-color: #141414;
}
.header_container .header_drawer {
    display: none;
}
.header_container .hamburger_menu {
    display: none;
}
.header_container .header,
.header_container .hamburger_menu {
    max-width: calc(100% - 16px);
}
.header_container .home_page_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ffffff;
    border-radius: 6px;
    font-size: 16px;
    color: #000000 !important;
    line-height: 19px !important;
    margin-right: 20px;
    margin-left: 38px;
    margin-bottom: 2px;
    text-decoration: none;
    outline: 4px solid #ffffff33;
}
.header_container .home_page_button.light {
    border-color: #cc6600;
    background-color: #ff9933;
    color: white !important;
}
@media (max-width: 1023px) {
    .header_container {
        padding-block-start: 100px;
    }
    .header_container .header {
        display: none;
    }
    .header_container .header_drawer {
        display: block;
        padding: 24px 16px;
        margin-inline: 8px;
        display: flex;
        border-radius: 17px;
        align-items: center;
    }
    .header_container .header_drawer .header_logo {
        margin-left: 24px;
        max-width: 200px;
        max-height: 30px;
    }
    .header_container .header_drawer .hamburger_button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 5px;
        background-color: #5f5f5f;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .header_container .header_drawer .hamburger_button .line {
        width: 20px;
        height: 2px;
        background-color: #d6d6d6;
    }
    .header_container .header_drawer .hamburger_button_close .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        width: 24px;
    }
    .header_container .header_drawer .hamburger_button_close .line:nth-child(2) {
        visibility: hidden;
    }
    .header_container .header_drawer .hamburger_button_close .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        width: 24px;
    }
    .header_container .hamburger_menu {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 1;
        border-radius: 17px;
        margin: 8px;
        -webkit-transform: translateX(calc(-100% - 20px));
        -moz-transform: translateX(calc(-100% - 20px));
        -ms-transform: translateX(calc(-100% - 20px));
        -o-transform: translateX(calc(-100% - 20px));
        transform: translateX(calc(-100% - 20px));
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        -moz-transition: -moz-transform 0.5s ease-in-out;
        -o-transition: -o-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        padding: 38px;
        padding-top: 2rem;
    }
    .header_container .hamburger_menu a {
        text-decoration: none;
    }
    .header_container .hamburger_menu a h4 {
        margin-top: 0px !important;
        margin-bottom: 26px;
        padding-bottom: 0px !important;
        color: #ffffff;
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
        font-family: "Inter", sans-serif !important;
    }
    .header_container .hamburger_menu .signup_button {
        display: block;
        width: 100%;
        text-align: center;
        background-color: white;
        border-radius: 6px;
        padding: 10px 16px;
        font-weight: 500;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
    }
    .header_container .hamburger_menu .signup_button.light {
        background-color: #ff9933;
        color: #ffffff;
    }
    .header_container .hamburger_menu_open {
        z-index: 11;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    .header_container .opacity-toggle {
        display: block;
        position: fixed;
        background-color: #1a1a1a;
        opacity: 0;
        height: 100vh;
        top: 0;
    }
    .header_container .opacity-toggle-true {
        width: 100%;
        height: 100%;
        transition: opacity 0.5s ease-in-out;
        opacity: 0.7;
        z-index: 10;
    }
    .header_container .hamburger_menu {
        height: calc(100vh - 88px - 10px - 16px);
    }
}
@media screen and (min-width: 1220px) and (max-width: 1279px) {
    .header_container .header {
        margin: 0px 48px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1220px) {
    .header_container .header .header_actions .header_cta {
        padding: 16px 12px;
    }
}
@media (max-width: 1200px) {
    .header_container .header a[href*="contribute"] {
        display: none;
    }
}
@media (max-width: 767px) {
    .header_container .header_drawer {
        margin-top: 0px;
    }
}
.header_container .dh-dropdown-container {
    position: relative;
    cursor: pointer;
}
.header_container .dh-dropdown-container .dh-dropdown-label-container {
    display: flex;
    align-items: center;
    padding: 16px;
}
.header_container .dh-dropdown-container .dh-dropdown-label-container .dh-dropdown-label {
    display: inline-block;
    font-size: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
.header_container .dh-dropdown-container .label-light {
    color: #555555;
}
.header_container .dh-dropdown-container .label-dark {
    color: #c4c4c4;
}
.header_container .dh-dropdown-container .dh-dropdown-label-container:hover .label-light {
    color: black;
}
.header_container .dh-dropdown-container .dh-dropdown-label-container:hover .label-dark {
    color: white;
}
.header_container .dh-dropdown-container .dark-bg {
    background-color: #1a1a1a;
}
.header_container .dh-dropdown-container .light-bg {
    background-color: white;
}
.header_container .dh-dropdown-container .dark-border {
    border-bottom: 1px solid rgba(221, 221, 221, 0.2);
}
.header_container .dh-dropdown-container .light-border {
    border-bottom: 1px solid #dddddd;
}
.header_container .dh-dropdown-container .dark-shadow {
    box-shadow: 0px 0px 12px 0px rgba(255, 255, 255, 0.2);
}
.header_container .dh-dropdown-container .light-shadow {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);
}
.header_container .dh-dropdown-container .dh-dropdown-items {
    z-index: 999;
    position: absolute;
    left: -50%;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 0 1rem;
    border-radius: 12px;
}
.header_container .dh-dropdown-container .dh-dropdown-items .dh-dropdown-item {
    width: 100%;
    text-align: center;
    padding: 11px 0;
}
.header_container .dh-dropdown-container .dh-dropdown-items .orange-hover:hover {
    color: #ff9933;
}
.header_container .dh-dropdown-container .dh-dropdown-items .dh-dropdown-item:last-of-type {
    border-bottom: none;
}

.github_star_logo {
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 500;
}

.github_star_count {
    position: absolute;
    color: #000;
    font-size: 12px;
    display: block;
    top: 6px;
    right: 8px;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .st-banner-container .st-banner {
        text-align: left;
    }
}
.st-banner-container > button {
    margin-left: 0.5rem;
    background-color: transparent;
}
.st-banner-container > button img {
    max-width: unset;
}

@media screen and (min-width: 320px) {
    .st-banner-container {
        padding-left: 1.72rem;
        padding-right: 1.72rem;
    }
}
.tab-hiring-banner ~ .footer {
    padding-top: 3rem;
}

@media screen and (min-width: 1366px) {
    .header_container .header .header_actions > *:not(:last-child) {
        margin-right: 8px;
    }

    .header_container .header {
        padding-inline: 45px 65px;
    }
}
@media screen and (max-width: 1140px) {
    .header_container .header .header_actions > *:not(:last-child) {
        margin-right: 0px;
    }

    .header_container .header {
        padding-inline: 28px;
        margin-inline: 8px;
        width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    .header_container .sticky_container {
        padding-block-start: 10px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1136px) {
    .header_container .header .header_actions {
        margin-inline-end: 5px;
    }
}
