.comparison {
    padding: 12.438rem;
    padding-top: 100px;
    color: white;
}

.text > h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;

    color: #F8F7F7;
}

.text > p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;

    color: #AAAAAA;
}

.table {
    width: calc(100vw - 30rem);
    max-width: calc(1440px - 30rem);
    border-collapse: collapse;
}

.table > thead > tr:first-child {
    display: none;
}

.table > thead > tr > th {
    padding-bottom: 20px;
}

.table > thead > tr > th > div {
    position: relative;
    background: #000614;
    opacity: 0.8;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 15px;
    height: 60px;
    width: 60px;
    margin: auto;
    margin-bottom: 10px;
}

.table > thead > tr > th  {
    text-align: center;
}

.table > thead > tr > th > div::after {
    content: "";
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: linear-gradient(131.9deg, #898FA1 3.03%, #1B2642 54.55%);
    z-index: -1;
    top: -3px;
    left: -3px;
    border-radius: 10px;
}

.table > thead > tr > th > div > img {
    height: 25px;
}

.table > tbody > tr {
    border: 2px solid rgba(27, 36, 57, 1);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.table > tbody > tr > td:not(:nth-child(1)) {
    width: 15ch;
}
.table > tbody > tr > td:first-child,
.table > tbody > tr > td:last-child {
    border-right: none;
    border-left: none;
}

.table > tbody > tr > td {
    border: 2px solid rgba(27, 36, 57, 1);
    padding: 12px 20px;
    text-align: center;
}

.feat {
    text-align: left !important;
}

.green {
    color: #289A00;
}

.red {
    color: #C1003A;
}

.warning {
    color: #B68E00;
}


@media screen and (max-width: 1000px) {
    .comparison {
        padding: 8.438rem;
    }

    .table-wrapper {
        overflow-x: scroll;
    }

    .table {
        padding: 0;
        margin: 0;
        width: calc(100vw - 8.438rem);
    }

    .table > thead > tr:first-child {
        display: table-row;
    }

    .table > thead > tr:first-child > td:nth-child(2) {
        font-family: 'Covered By Your Grace';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;

        color: #5772FF;

        text-align: center;

        padding-bottom: 20px;
    }

    .table > thead > tr:first-child > td:nth-child(2) > img {
        width: 14px;
    }

    .table > tbody > tr > td {
        min-width: 150px;
    }

    .feat {
        min-width: 250px !important;
    }
}
