.toggler__container {
    border-radius: 13px;
    background: rgba(255, 255, 255, 0.05);

    display: flex;
    gap: 0;
    font-family: Inter;
    font-style: normal;
    line-height: normal;

    margin: auto;
    position: relative;
}

.toggler__container__wrapper {
    position: relative;
    width: fit-content;
    border-radius: 14px;
    border: 1px solid #2c2c2c;
    background: linear-gradient(180deg, #000 0%, #000 100%);

    margin: auto;
    cursor: pointer;

    margin-top: 84px;
}

.toggler__item__active{
    border: 2px solid #f93;
    border-radius: 12px !important;
    height: 100%;

    position: relative;
}

.toggle__item__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #000;

    width: 355px;
    height: auto;
    flex-shrink: 0;
}

.left__corners__14 {
    border-radius: 14px 0px 0px 14px;
}

.right__corners__14 {
    border-radius: 0px 14px 14px 0px;
}

.left__top__corners__14 {
    border-radius: 14px 0px 0px 0px;
}

.right__top__corners__14 {
    border-radius: 0px 14px 0px 0px;
}

.left__corners__8 {
    border-radius: 8px 0px 0px 8px;
}

.right__corners__8 {
    border-radius: 0px 8px 8px 0px;
}

.left__top__corners__8 {
    border-radius: 8px 0px 0px 0px;
}

.right__top__corners__8 {
    border-radius: 0px 8px 0px 0px;
}

.border__radius__8 {
    border-radius: 8px !important;
}

.border__radius__8::before {
    border-radius: 8px !important;
}

.border__radius__8::after {
    border-radius: 8px !important;
}

.gap__8 {
    gap: 8px !important;
}

.padding__13 {
    padding: 13px;
}
.padding__none {
    padding: 0 !important;
}

.toggler__item__gray {
    background: rgba(255, 255, 255, 0.1);

    height: 50%;
    text-align: center;

    color: #f8f7f7;
    font-size: 20px;
    font-weight: 600;

    padding: 20px 0px 14px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.toggler__item__gray > div > span {
    color: #aaa;
    font-weight: 400;
}

.toggler__item__dark {
    border-radius: 12px;
    background: #000;

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    height: 50%;
    text-align: center;

    color: #ddd;
    font-size: 16px;
    font-weight: 400;

    padding: 14px;
}

.text__orange {
    color: #f93;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}

.move__right {
    right: 8px;
}

.opacity_60 {
    opacity: 0.6;
}

.margin_3 {
    margin: 3px 3px 3px 0;
}

.tooltip {
    position: absolute !important;
    z-index: 5;
    bottom: 20px;
    right: 75%;
}

@media (max-width: 768px) {
    .toggler__item__wrapper {
        max-width: 298px;
    }

    .toggle__item__container {
        width: 298px;
    }

    .toggler__item__dark > span:first-of-type {
        font-size: 14px;
    }

    .toggler__item__dark {
        gap: 10px;
    }

    .toggler__item__gray {
        gap: 8px;
    }

    .tooltip {
        right: 76%;
    }
}

@media (max-width: 625px) {
    .toggler__item__wrapper {
        max-width: 234px;
    }

    .toggle__item__container {
        width: 234px;
    }

    .toggler__item__dark {
        gap: 2px;
        flex-direction: column;
    }

    .toggler__item__gray {
        font-size: 16px;
    }

    .tooltip {
        right: 61%;
        bottom: 32px;
    }

    .tooltip > img {
        height: 12px;
    }
}

@media (max-width: 468px) {
    .toggler__item__wrapper {
        max-width: calc(50vw - 20px);
    }

    .toggle__item__container {
        width: calc(50vw - 20px);
    }

    .toggler__item__dark > span:first-of-type {
        font-size: 12px;
    }

    .toggler__item__dark {
        gap: 2px;
        flex-direction: column;
    }

    .toggler__item__gray {
        font-size: 14px;
        padding: 6px;
    }

    .toggler__container__wrapper {
        margin: 20px;
        margin-top: 84px
    }

    .tooltip {
        right: 60%;
        bottom: 28px;
    }

    .tooltip > img {
        height: 12px;
    }

    .toggler__item__gray > div > span {
        font-size: 0;
    }
}

@media (max-width: 375px) {
    .tooltip {
        right: 57%;
        bottom: 28px;
    }
}

@media (max-width: 327px) {
    .tooltip {
        right: 54%;
        bottom: 40px;
    }
}
