.core__toggler__container {
    background: #000;

    display: flex;
    flex-direction: column;

    max-width: 548px;
    margin: auto;

    margin-top: 56px auto;
}

.core__toggler__wrapper {
    display: flex;
    border: 1px solid #2c2c2c;
    padding: 2px;
    border-radius: 14px;

    width: 410px;
    height: 65px;
    margin: auto;

    cursor: pointer;
}

.core__toggler__wrapper > div {
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 18px 32px;
}

.core__toggler__wrapper > div.active {
    position: relative;
    border-radius: 12px;
    border: 1px solid #ff7c33;
    background: linear-gradient(132deg, #0a0a0a 4.08%, #1e1e1e 95.3%);

    box-shadow: -8px 3px 81px 65px rgba(255, 153, 51, 0.09);
    -webkit-box-shadow: -8px 3px 81px 65px rgba(255, 153, 51, 0.09);
    -moz-box-shadow: -8px 3px 81px 65px rgba(255, 153, 51, 0.09);

    color: #f93;
}

.explanation__container {
    display: flex;
    color: white;
    gap: 26px;
}

.explanation__container > div {
    display: flex;

    flex-direction: column;
    gap: 2px;
    width: 50%;

    padding: 16px 20px;
}

.explanation__container > div > span:first-child {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

    line-height: normal;
}

.explanation__container > div > span:last-child {
    color: #aaa;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 125% */
}

.explanation__container > .cloud {
    border-radius: 14px;
    background: linear-gradient(271deg, rgba(44, 44, 44, 0.3) 0.52%, rgba(44, 44, 44, 0) 99.53%);

    align-items: flex-end;
    text-align: end;
}

.explanation__container > .self__host {
    border-radius: 14px;
    background: linear-gradient(90deg, rgba(44, 44, 44, 0.3) 0%, rgba(44, 44, 44, 0) 100%);

    align-items: flex-start;
    text-align: start;
}

.core__toggle__tooltip__container{
    position: absolute;
}

.core__toggle__tooltip {
    background: rgba(18, 18, 18, 1);
    border: 1px solid rgba(39, 39, 39, 1);

    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    position: relative;
    width: fit-content;
    padding: 8px 10px;
    border-radius: 6px;
}

.core__toggle__tooltip > .arrow{
    border-left: 1px solid rgba(39, 39, 39, 1);
    border-bottom: 1px solid rgba(39, 39, 39, 1);
    background: rgba(18, 18, 18, 1);

    height: 10px;
    width: 10px;
    left: -6px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
   
}

.core__toggle__tooltip > .arrow.right{
    rotate: 45deg;
}

.core__toggle__tooltip > .arrow.left{
    left: auto;
    right: -6px;
    rotate: -135deg;
}

.opacity_60 {
    opacity: 0.6;
}

@media (max-width: 425px) {
    .core__toggler__wrapper {
        width: 354px;
        height: 50px;
    }

    .core__toggler__wrapper > div {
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .core__toggler__wrapper {
        width: 95%;
    }

    .core__toggler__wrapper > div {
        font-size: 18px;
        padding: 0;
    }

    .explanation__container {
        gap: 8px;
    }
}
