.table-wrapper {
    display: flex;
    justify-content: center;
}

.mobileTable {
    display: none;
}

.table {
    margin: 12.438rem;

    width: calc(100vw - 12rem * 2);

    display: block;

    color: #F8F7F7;

    border-collapse: collapse;
}

.table tr {
    border: 4px solid #000;
}

.table td {
    padding: 7px 24px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;

    width: calc(40.625vw - 12.438rem * 2);
}

.table td > img {
    width: 20px;
    height: 20px;
}

.table th {
    padding: 16px 24px;
    font-family: 'Inter';
    font-size: 16px;
}

.table > thead > tr > th {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    border: 1px solid #2C2C2C;
}

.table > thead > tr > td {
    border: 1px solid #2C2C2C;
    padding: 10px 24px;
}

.highlight {
    background: rgba(255, 153, 51, 0.16);
}

.highlight > td > img {
    margin-left: 10px;
    height: 16px;
}

.left_align {
    text-align: left !important;
    width: calc(29.68vw - 12.438rem * 2);
}


.bordered {
    display: block;

    padding: .813rem;
    width: 100%;

    background: transparent;

    border: 1px solid #F8F7F7;
    border-radius: 6px;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;


    color: #fff;

    cursor: pointer;

    margin-top: 32px;
    margin-bottom: 40px;
}

.filled-orange {
    display: block;

    padding: .813rem;
    width: 100%;

    background: #FF9933;

    border: 1px solid #FFB872;
    border-radius: 6px;

    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;


    color: #000;

    cursor: pointer;

    margin-top: 32px;
    margin-bottom: 40px;
}

.table > tbody > tr {
    border-top: none;
    border-bottom: 1px solid #2C2C2C;
}

.table > tbody > tr > td {
    border: 1px solid #2C2C2C;
    padding: 10px 24px;
}

.section {
    background: #1F1F1F;
}

.section td img {
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.section td .section-text {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;

    color: #F8F7F7;
}

.section td small {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;

    margin-left: 8px;

    color: #808080;
}

.expandable > .header .coming-soon-chip {
    padding: 5px;

    background: #341A00;
    border-radius: 4px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 13px;


    color: #FF9933;
}

.expandable > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 450px;
}

.expandable > .header > span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;

    margin-right: 30px;

    display: flex;
    justify-content: center;

    color: #DDD;
}

.expandable > .header img {
    width: 18px;
    height: 18px;

    margin-left: 10px;
}

.expandable > .sublist > ul {
    padding-left: 20px;
}

.expandable > .sublist > ul > li {
    text-align: left;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;

    color: #AAA;

    margin: 8px 0;

    max-width: 400px;
}

.table > tfoot > tr {
    border-top: none;
}

.table > tfoot > tr > td {
    border: 1px solid #2C2C2C;
    padding: 10px 24px;
}

.table > tfoot > tr > td > h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
}

/* ToolTip styles */
.tooltip {
    position: relative;
    display: inline-block;

    height: 14px;
    aspect-ratio: 1;
}

.tooltip:hover div {
    display: block;
}

.tooltip img {
    height: 14px;
    aspect-ratio: 1;
}

.tooltip div {
    position: absolute;
    padding: 12px;

    background: #F8F7F7;
    border-radius: 6px;

    display: none;
}

.tooltip div p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;

    text-align: center;

    color: #000000;

    min-width: 180px;

    margin: 0;
    padding: 0;
}

.tooltip .right {
    top: 0;
    left: 25px;
}

.tooltip .bottom {
    top: 20px;
    transform: translateX(-50%);
}


@media screen and (max-width: 1000px) {
    .table {
        display: none;
    }

    .mobileTable {
        display: block;
        margin: 8.438rem;
        width: calc(100vw - 8.438rem * 2);
    }

    .mobileTHead {
        border-collapse: collapse;
        border-bottom: 2px solid #2C2C2C;
        margin-bottom: 5px;
    }

    .mobileTHead > thead > tr {
        border-bottom: 3px solid black;
    }

    .mobileTHead > thead > tr > th {
        color: #F8F7F7;
        padding-bottom: 12px;
        font-size: 24px;
        font-weight: 700;
    }

    .mobileTHead > thead > tr > td {
        width: calc(50vw - 8.438rem);
        padding: 7px;

        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;

        color: #F8F7F7;

        text-align: center;
    }

    .mobileTable > h3 {
        color: #F8F7F7;
        text-align: center;
        margin-top: 0;
    }

    .mobileSection {
        color: #F8F7F7;
        padding: 7px;
        background: #1F1F1F;
        text-align: center;
    }

    .mobileSection > img {
        width: 15px;
        height: 15px;
        margin-right: 10px;
    }

    .expandable > .header {
        min-width: 200px;
        justify-content: center;
        background: #111111;
        padding: 11px;

        position: relative;
    }

    .expandable > .header > div > img {
        position: absolute;
        right: 10px;
        bottom: 30%;
        transform: rotateZ(-90deg);
    }

    .expandable > .sublist {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileFeature > .check {
        display: flex;
    }

    .mobileFeature > .check > div {
        width: calc(50vw - 8.438rem);
        color: white;
        text-align: center;
        padding: 14px;
        font-size: 14px;
        border: 1px solid #2C2C2C;
    }

    .mobileFeature > .check > div:nth-child(1) {
        border-left: none;
    }

    .mobileFeature > .check > div:nth-child(2) {
        border-right: none;
    }

    .mobileFeature > .check > div > img {
        width: 20px;
        height: 20px;
    }

    .mobileTFoot > tfoot > tr > td {
        color: #F8F7F7;
        width: calc(50vw - 8.438rem);
    }

    .mobileTFoot > tfoot > tr > td > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }

    .mobileTFoot > tfoot > tr > td > div > h1 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
    }
}
