.see-blog-section {
    margin-left: 100px;
}

.landing-text-container {
    max-width: 600px;
}

.landing-image-container {
    margin-top: -40px;
    margin-bottom: 130px;
}

@media screen and (max-width: 1024px) {
    .see-blog-section {
        margin-top: 80px !important;
        margin-left: 0px;
    }

    .landing-image-container {
        max-width: initial;
    }
}