.section {
    padding: 140px 0px;
}

.section h1 {
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    line-height: 200px;

    background: linear-gradient(180deg, #fff793 0%, #eb831c 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 0;
}

.section p {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 100px 0;
}

.login_methods_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 75px 45px;
}

.login_methods_container > a {
    display: flex;
    flex-direction: column;
    gap: 45px;

    text-decoration: none;
}

.login_methods_container img {
    max-height: 550px;
    max-width: 550px;
}

.login_methods_container div {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    max-width: 424px;
}

@media (max-width: 1440px) {
    .section h1 {
        font-size: 70px;
        line-height: 60px;
    }

    .section p {
        font-size: 36px;
        line-height: 68px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 920px;
        padding: 0px 40px;
    }

    .login_methods_container img {
        max-height: 350px;
        max-width: 350px;
        height: 100%;
        width: 100%;
    }

    .login_methods_container div {
        font-size: 30px;
        max-width: 350px;
    }
}

@media (max-width: 825px) {
    .section h1 {
        font-size: 60px;
        line-height: 48px;
    }

    .section p {
        font-size: 26px;
        margin: 0 0 38px 0;
    }

    .login_methods_container div {
        font-size: 30px;
        max-width: 350px;
    }

    .login_methods_container {
        justify-content: center;
    }
}

@media (max-width: 468px) {
    .section h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .section p {
        font-size: 23px;
    }

    .login_methods_container {
        gap: 26px;
    }

    .login_methods_container div {
        font-size: 22px;
        max-width: 350px;
    }

    .login_methods_container > a {
        gap: 12px;
    }
}
