.side_nav {
    z-index: 20;
    width: 40px;
    height: 143px;
    background: radial-gradient(circle, #333, #222);
    border: 0 solid #3f3e3e;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 70%;
    bottom: 0%;
    left: auto;
    right: 3%;
}
