.section h1 {
    color: #fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section h1 > span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(#f1f1f1, gray);
    -webkit-background-clip: text;
    background-clip: text;
}

.card {
    max-width: 400px;
    height: auto;
    padding: 26px;

    border-radius: 6px;
    background: #1a1a1a;
    cursor: pointer;
    opacity: 0.8;

    text-decoration: none;
}

.card:hover {
    opacity: 1;
}

.username {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0;
}

.designation {
    color: #737373;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.text {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.quote {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.square {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    margin: 0 3px 0.5em;
    transition: background-color 100ms, color 100ms;
}

.square_container {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-end;
    margin: 50px;
}

.testimonial_container {
    display: flex;
    gap: 16px;
    min-height: 870px;
}

.testimonial_col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.active {
    background-color: #fff;
}

.profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.org_logo {
    height: 34px;
    width: auto;
    margin-bottom: 16px;
}

.testimonial_col_2 {
    display: flex;
}

.testimonial_col_0 {
    display: flex;
}

@media (max-width: 1440px) {
    .section h1 {
        font-size: 48px;
        line-height: 60px;
    }
}

@media (max-width: 768px) {
    .section h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .testimonial_col_2 {
        display: none;
    }
}

@media (max-width: 468px) {
    .section h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .testimonial_col_0 {
        display: none;
    }
}
