.content_container {
    backdrop-filter: blur(25px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 62px;
    transition: all 0.25s ease-out 0s;
}

.content_container h3 {
    color: #fff;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 26px 0;
}

.content_container p {
    color: #777;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    margin: 0 0 30px 0;

    max-width: 420px;
}

.content_container > div {
    width: 50%;
}

.content_container > div > img {
    height: 100%;
    width: 100%;
}

.content_container button {
    border-radius: 8px;
    border: 1px solid #4b4b4b;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;

    padding: 10px 15px;
}

.content_container button:hover {
    opacity: 0.7;
}

.content_container a {
    position: relative;
}

.hue_circle {
    position: absolute;
    height: 124px;
    width: 173px;
    background: radial-gradient(hsla(0, 0%, 100%, 0.15) 10%, transparent 70%, #000);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(60px);
    top: -33px;
    left: -43px;
}

.buttons_container {
    display: flex;
    gap: 36px;
    align-items: center;
}

@media (max-width: 980px) {
    .content_container {
        flex-direction: column;
        gap: 60px;
        padding: 92px 6vw;
    }

    .content_container > div {
        width: 100%;
    }
}

@media (max-width: 586px) {
    .content_container h3 {
        font-size: 32px;
        line-height: normal;
    }

    .content_container p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
    }

    .buttons_container {
        gap: 20px;
    }
}
