.admonition_container {
    width: 100%;
    display: flex;

    border-radius: 0px 10px 10px 0px;

    gap: 25px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;

    margin: auto;
    max-width: 654px;
}

.sideline {
    width: 4px;
    flex-grow: 1;
    flex-shrink: 0;
}

@media (max-width: 680px) {
    .admonition_container {
        padding: 14px 20px;
    }
}
