.block_quote_container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 55px 0 43px 0;
}

.block_quote_container > p {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 804px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 8px;
}

.profile > img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.profile > span:is(:nth-child(2)) {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile > span:is(:nth-child(3)) {
    color: #808080;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quote_start {
    position: absolute;
    left: 85px;
    top: -25px;
}

.quote_end {
    position: absolute;
    right: 85px;
    bottom: -25px;
}
.quote {
    margin-top: 0;
}

.block_quote_container > img {
    width: 112px;
    height: 79px;
}

@media (max-width: 1260px) {
    .block_quote_container > p {
        max-width: 520px;
        width: 100%;
    }

    .quote_end {
        bottom: -19px;
        right: 19px;
    }
    .quote_start {
        top: -19px;
        left: 19px;
    }
}

@media (max-width: 968px) {
    .block_quote_container > img {
        width: 65px;
        height: 46px;
    }
    .block_quote_container {
        padding: 60px 105px;
    }

    .quote_end {
        bottom: -19px;
        right: 19px;
    }
    .quote_start {
        top: -19px;
        left: 19px;
    }
}

@media (max-width: 680px) {
    .block_quote_container {
        padding: 46px 24px;
    }

    .quote_end {
        bottom: -10px;
        right: 13px;
    }
    .quote_start {
        top: -10px;
        left: 13px;
    }

    .block_quote_container > p {
        font-size: 20px;
    }

    .profile {
        padding-bottom: 6px;
    }
    .block_quote_container > img {
        width: 48px;
        height: 34px;
    }
}
