.block_quote_container {
    position: relative;

    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.block_quote_container > p {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    width: 804px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 8px;
}

.profile > img {
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.profile > span:is(:nth-child(2)) {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.profile > span:is(:nth-child(3)) {
    color: #808080;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quote_start {
    position: absolute;
    left: -250px;
    top: -60px;
}

.quote_end {
    position: absolute;
    right: -250px;
    bottom: -60px;
}

@media (max-width: 1260px) {
    .block_quote_container > p {
        max-width: 520px;
        width: 100%;
    }

    .quote_start {
        position: absolute;
        left: -8%;
        top: -24%;
    }

    .quote_end {
        position: absolute;
        right: -10%;
        bottom: -16%;
    }
}

@media (max-width: 968px) {
    .block_quote_container > img {
        width: 65px;
        height: 46px;
    }

    .quote_start {
        left: 0;
        top: -14%;
    }

    .quote_end {
        right: 0;
        bottom: -6%;
    }
}

@media (max-width: 680px) {
    .block_quote_container {
        padding: 0px 20px;
    }

    .quote_end {
        bottom: -22%;
    }

    .block_quote_container > p {
        font-size: 20px;
    }

    .profile {
        padding-bottom: 6px;
    }
}
