.jump_to_container {
    width: 100%;

    border-radius: 1rem;
    padding: 1px;

    display: flex;
    justify-content: center;
}

.jump_to_container > div {
    display: flex;
    gap: 58px;
    padding: 26px;
    background: #000;
    width: 100%;
}

.jump_to_container > div > div {
    color: #aaaaaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    max-width: 1100px;
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: flex-start;
    gap: 62px;
    cursor: pointer;
}

.jump_to_container a {
    color: #aaaaaa;
    text-decoration: none !important;
}

.jump_to_container a:hover {
    color: #f7f7f8;
}
