.jump_to_container {
    width: 100%;

    border-radius: 1rem;
    padding: 1px;

    display: flex;
    justify-content: center;

    position: relative;
}

.jump_to_container > div {
    display: flex;
    gap: 58px;
    padding: 26px;
    background: #000;
    width: 100%;
}

.jump_to_container > div > div {
    color: #aaaaaa;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    max-width: 964px;
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: flex-start;
    gap: 62px;
}

.jump_to_container a {
    color: #aaaaaa;
    cursor: pointer;
    text-decoration: none !important;
}

.jump_to_container a:hover {
    color: #f7f7f8;
}

.radial_view {
    position: absolute;

    filter: blur(50px);
    height: 280px;
    z-index: -1;
    top: -75px;
}

@media (max-width: 1200px) {
    .jump_to_container > div > div {
        max-width: 680px;
    }
}

@media (max-width: 620px) {
    .jump_to_container > div > div > div:is(:first-child) {
        display: none;
    }

    .jump_to_container > div > div {
        justify-content: space-around;
        gap: 4px;
    }
}

@media (max-width: 420px) {
    .jump_to_container > div > div {
        font-size: 12px;
    }
}
