.bullet-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.bullet-item-text-container {
    display: flex;
    flex-direction: column;
}

.bullet-item-title {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin: 0px;
}

.bullet-item-subtitle {
    color: #AAA;
    font-size: 18px;
    font-family: Inter;
    line-height: 36px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.subtitle-text-container {
    display: flex;
    align-items: center;
}

.bullet {
    font-size: 4px;
    margin-right: 4px;
    color: #AAA;
}

.bullet-indicator-container {
    border-radius: 12px;
    background: rgba(28, 28, 28, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
}

.bullet-indicator-container img {
    min-width: 64px;
    max-width: 64px;
    min-height: 64px;
    max-height: 64px;
}

.bullet-indicator-container-numbered {
    border-radius: 7px;
    background: rgba(28, 28, 28, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    margin-top: 4px;
}

.bullet-number {
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    background: linear-gradient(180deg, #FFE993 0%, #EB831C 106.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bullet-indicator {
    width: 4px;
    height: 26px;
    margin-right: 16px;
    margin-top: 4px;
}

.left-container {
    display: flex;
    width: 100%;
}

.bullet-left-margin {
    margin-left: 64px;
}

.bullet-top-margin {
    margin-top: 64px;
}

.bullet-list-flex-row {
    flex-direction: row;
}

.bullet-list-flex-column {
    flex-direction: column;
}

.bullet-image {
    position: relative;
}

.bullet-image img {
    max-width: 279px;
}

.supertokens-benefits-bullet-image img {
    width: 372px;
    height: 308px;
    max-width: initial;
}

.supertokens-benefits-bullet-list .bullet-container .bullet-image {
    width: 100%;
    margin-left: 139px;
}


@media screen and (max-width: 1024px) {
    .bullet-left-margin {
        margin-left: 0px;
        margin-top: 80px;
    }

    .bullet-image {
        margin-left: 0px;
        margin-top: 48px;
    }

    .bullet-top-margin {
        margin-top: 128px;
    }

    .bullet-list-flex-row {
        flex-direction: column;
    }

    .supertokens-benefits-bullet-list .bullet-container .bullet-image {
        width: 100%;
        margin-left: 0px;
    }

    .supertokens-benefits-bullet-list .bullet-container .bullet-image img {
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
    }

    .list-container-bg {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .bullet-image {
        margin-top: 0px;
    }

    .bullet-item-subtitle {
        font-size: 16px;
        line-height: 36px;
    }

    .bullet-item-title {
        font-size: 18px;
        line-height: 36px;
    }

    .bullet-indicator-container {
        min-width: 42px;
        max-width: 42px;
        min-height: 42px;
        max-height: 42px;
    }

    .bullet-indicator-container img {
        max-width: 23px;
    }

    .bullet-top-margin {
        margin-top: 48px;
    }

    .supertokens-benefits-bullet-list .bullet-container .bullet-image {
        margin-top: 40px;
    }

    .supertokens-benefits-bullet-image img {
        height: 266px;
    }
}