.pill-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: linear-gradient(90deg, rgba(255, 233, 147, 0.2) 0%, rgba(235, 131, 28, 0.2) 100%);
    border: 1px solid rgba(255, 153, 51, 0.05);
    border-radius: 6px;
    max-width: fit-content;
    flex-direction: row;
}

.pill-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    background: linear-gradient(93.79deg, #FFE993 0%, #EB831C 106.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.pill-icon {
    max-width: 47px;
    max-height: 19px;
    margin-left: 12px;
}

@media screen and (max-device-width: 1024px) {
    .pill-container {
        flex-direction: row;
    }
}

@media screen and (max-device-width: 767px) {
    .pill-text {
        font-size: 18px;
        line-height: initial;
    }

    .pill-icon {
        max-width: 31px;
        max-height: 12px;
    }
}